In [1]:
# 변수 선언
a = 10
b = "test"

# 변수 출력
print(a)
print(type(a))

print(b)
print(type(b))

10
<class 'int'>
test
<class 'str'>

In [4]:
a = "test2"
print(a)

test2

In [1]:
# 불형 데이터
# 참과 거짓의 형태
a = True
print(type(a))

<class 'bool'>

In [2]:
b = (100 > 10)
c = (100 < 10)
d = (100 == 100)
print(b, c, d)

True False True

In [3]:
# 산술 연산자
# 기본적인 사칙연산
a = 7
b = 3

print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

10 4 21 2.3333333333333335 2 1 343

In [4]:
c = 2
print(a + b * c)
print((a + b) * c)

13
20

In [5]:
# 대입연산자
a += 5 # a=a+5
print(a)

12

### 조건문
- if문

In [3]:
a=5

if a < 10 :
    print("a는 10보다 작다")

a는 10보다 작다

In [2]:
a = 11

if a < 10 :
    print("a는 10보다 작다")

In [4]:
## if ~ else
a = 20

if a < 10 :
    print("a는 10보다 작다")
else :
    print("a는 10보다 크거나 같다")

a는 10보다 크거나 같다

In [5]:
## if ~ elif ~ else문
score = input("정수를 입력하세요 :")
print(score)
print(type(score))

50
<class 'str'>

In [16]:
## if ~ elif ~ else문
score = int(input("정수를 입력하세요 :"))
print(score)
print(type(score))
if score >= 90 :
    print("A")
elif score >= 80 :
    print("B")
elif score >= 70 :
    print("C")
else:
    print("F")

print("프로그램 종료")

88
<class 'int'>
B
프로그램 종료

In [13]:
# 반복문
# for문
for i in range(0, 10, 1):
    print("%d번째 반복"%i)

0번째 반복
1번째 반복
2번째 반복
3번째 반복
4번째 반복
5번째 반복
6번째 반복
7번째 반복
8번째 반복
9번째 반복

In [14]:
for i in range(10):
    print("%d번째 반복"%i)

0번째 반복
1번째 반복
2번째 반복
3번째 반복
4번째 반복
5번째 반복
6번째 반복
7번째 반복
8번째 반복
9번째 반복

In [1]:
# 1부터 10까지의 합계
# for문

# 합계 변수 생성
sum = 0

for a in range(1, 11, 1):
    sum += a
    #sum = sum + a

print(sum)

55

In [3]:
# 다중 for문
# 구구단

for i in range(2, 10, 1):
    print("%d단"%i) # str(i)+"단" 해도 괜찮음.
    for j in range(1, 10, 1):
        print("%d X %d = %d"%(i, j, i*j))

2단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [15]:
# 단일 for문
# 1부터 100까지의 숫자 중에 짝수의 합계
# hint : 1부터 100까지 반복
# if 조건식을 사용해서 짝수인 경우에만 +

# 합계 변수 생성
sum = 0

# 반복문 생성
for i in range(1, 101, 1) :
    if i % 2 == 0:
        sum += i

print(sum)

2550

In [16]:
# 다중 for문
# 2개의 주사위를 굴려서 두 주사위의 합이 5가 되는 주사위의 값
for i in range(1, 7, 1) :
    for j in range(1, 7, 1) :
        if i + j == 5 :
            print(i,j)

1 4
2 3
3 2
4 1

In [18]:
# while 문

# 초기값 지정
i = 0

# while 문 시작
while i < 10 :
    print(i)
    i += 1 #순서에 따라 결과값이 달라질 수 있으니 순서는 매우 중요함.

0
1
2
3
4
5
6
7
8
9

In [40]:
# while 문

# 초기값 지정
i = 0

# while 문 시작
while i < 10 :
    i += 1
    print(i) #순서에 따라 결과값이 달라질 수 있으니 순서는 매우 중요함.

1
2
3
4
5
6
7
8
9
10

In [19]:
# break 문
for i in range(1, 101, 1) :
    print("%d 번째 반복"%i)
    if i == 5 :
        break

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복

In [20]:
# break 문
for i in range(1, 101, 1) :
    if i == 5 :
        break
    print("%d 번째 반복"%i)

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복

In [21]:
# 1부터 100까지 합계를 구하는 중
# 합계가 500이 넘어가는 숫자와 합계의 값

sum = 0

for i in range(1, 101, 1) :
    sum += i
    if sum >= 500 :
        break

print("합계가 500 이상이 되는 범위의 숫자", i, "합계는", sum)

합계가 500 이상이 되는 범위의 숫자 32 합계는 528

In [22]:
# 1부터 100까지 합계를 구하는 중
# 합계가 500이 넘어가는 숫자와 합계의 값

sum = 0

while i < 101 :
    sum += i
    if sum >= 500 :
        break

print("합계가 500 이상이 되는 범위의 숫자", i, "합계는", sum)

합계가 500 이상이 되는 범위의 숫자 32 합계는 512

In [23]:
# continue 문
for i in range(1, 10, 1) :
    if i <= 3 :
        continue
    print("%d 번째 반복"%i)

4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [24]:
# continue 문
for i in range(1, 10, 1) :
    print("%d 번째 반복"%i)
    if i <= 3 :
        continue # 마지막에 continue문을 적는 것은 무의미함.

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [27]:
# 1부터 100까지의 짝수의 합계
sum = 0

for i in range(1, 101, 1) :
    if i % 2 == 1 :
        continue
    sum += i

print(sum)

2550

In [3]:
# 튜플
a = (1, 'Hello')
b = (3, 3.114)
c = a + b # 원소가 붙여짐.
d = a * 3 # 세 번 반복됨.
e = a[1] # 튜플 안에 있는 두번째 원소 볼러내미.

print(a, b, c, d, e)

(1, 'Hello') (3, 3.114) (1, 'Hello', 3, 3.114) (1, 'Hello', 1, 'Hello', 1, 'Hello') Hello

In [4]:
# 숫자 1만 출력하고 싶으면?
print(a[0])

1

In [30]:
a = (10, 20, 30, 40)

In [31]:
print(a[1:3])

(20, 30)

In [32]:
# 30, 40을 출력하려면?
print(a[2:])

(30, 40)

In [33]:
# list 형태 데이터
a = [20, 10, 50, 5]
b = [10, 20, 30, 40]

In [34]:
# sort() -> 오름차순 정렬로 변경하는 함수
a.sort()
print(a)

[5, 10, 20, 50]

In [35]:
# reverse() -> 역순으로 정렬을 변경하는 함수
b.reverse()
print(b)

[40, 30, 20, 10]

In [36]:
# append() -> list의 마지막에 항목을 추가하는 함수
a.append(22)
print(a)

[5, 10, 20, 50, 22]

In [43]:
# list의 특징
a = []
print(a)
a.append(10)
print(a)

[]
[10]

In [44]:
# 1부터 70까지 숫자들 중에 3의 배수를 lsit로 만들어서 출력
l = []
for i in range(1, 71, 1) :
    if i % 3 == 0 : 
        l.append(i)

print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [42]:
for i in [5, 7, 10] :
    print(i)

5
7
10

In [47]:
# 1부터 70까지 숫자들 중에 3의 배수를 lsit로 만들어서 출력한 값들 합
l = []
n = 0
for i in range(1, 71, 1) :
    if i % 3 == 0 : 
        l.append(i)
        n += i

print(n)

828

In [49]:
# 1부터 70까지 숫자들 중에 3의 배수를 lsit로 만들어서 출력한 값들 합
sum = 0
for i in l :
    sum += i
print(sum)

828

In [74]:
# dictionary
# 사전형 데이터
# (key1 : value1, key2 : value2, ...)
dict = {
    "name" : "test",
    "age" : 20,
    "phone" : "01012345678"
}

In [71]:
print(dict["name"])

test

In [72]:
# 새로운 key : value 를 대입
dict['area'] = "seoul"

In [73]:
print(dict)

{'name': 'test', 'age': '20', 'phone': '01012345678', 'area': 'seoul'}

In [84]:
# Database에서 데이터를 받아올 때 데이터의 형태
# [ {}, {}, {}]
test_data = [
    {
        "name" : "test1",
        "age" : 20
    },
    {
        "name" : "test2",
        "age" : 30
    },
    {
        "name" : "test3",
        "age" : 40
    }
]

In [82]:
print(test_data[0])

{'name': 'test1', 'age': 20}

In [83]:
print(test_data[0]["name"])

test1

In [86]:
# test_data에서 name의 값들만 리스트의 형태로 출력
name_list =[]

for i in test_data : 
    name_list.append(i["name"])

print(name_list)

['test1', 'test2', 'test3']

In [87]:
name_list = []

for i in range(0, 3, 1) : # 3 대신에 len(test_data)를 넣어도 됨.
    name_list.append(test_data[i]["name"])

print(name_list)

['test1', 'test2', 'test3']

https://github.com/bsmoon-86/ezen-python

In [88]:
# 문자열 내장 함수

# 대문자, 소문자 변환
# upper(), lower()
text = "Hello World"
print(text.upper())
print(text.lower())

HELLO WORLD
hello world

In [90]:
text = "   Hello World   "
print(text)

   Hello World

In [91]:
# 공백 제거 함수
# strip() : 양쪽의 공백 제거
# lstrip() : 왼쪽의 공백 제거
# rstrip() : 오른쪽의 공백 제거
print(text.lstrip())
print(text.rstrip())
print(text.strip())

Hello World
   Hello World
Hello World

In [92]:
# replace()
# 선택한 문자열을 변경
# 공백을 제거하는 데도 사용이 가능
text.replace(" ","")

'HelloWorld'

In [93]:
text.replace("Hello","Hi")

'   Hi World   '

In [94]:
# split()
# 기준이 되는 문자열이나 , . / 와 같은 특수문자열을 기준으로 문자열을 나눠주는 역할
a = "a, b, c, d, e"
print(a)

a, b, c, d, e

In [95]:
a.split(",")

['a', ' b', ' c', ' d', ' e']

In [96]:
# 함수
def func_1() :
    return "Hello World"

In [99]:
print(func_1())
print(func_1())
print(func_1()) # 매개변수가 없는 함수를 만드는 것은 대부분 불필요한 작업.

Hello World
Hello World
Hello World

In [100]:
# 매개변수가 존재하는 함수 생성
def func_2(x, y) :
    result = x + y
    return result

In [102]:
print(func_2(5, 3))
print(func_2(1, 3))
print(func_2(10, 4))

8
4
14

In [104]:
func_2(1)

TypeError: func_2() missing 1 required positional argument: 'y'

In [105]:
# 매개변수에 기본값을 정의
def func_3(x, y = 3) :
    result = x + y
    return result

print(func_3(5,1))
print(func_3(3))

6
6

In [106]:
def func_4(x, y) : # 인자에 들어가는 순서가 있기 때문에 기본값은 마지막부터 넣어주어야 함.
    result = x ** y
    return result

print(func_4(5, 2))
print(func_4(y = 5, x = 2))

25
32

1. 함수를 하나 생성 매개변수 2개 (x, y)
2. 함수가 하는 행동 ( a부터 b까지의 합을 return) - for/while문
3. x보다 y가 작은 경우에는 x부터 y까지의 합, 반대인 경우에는 y부터 x까지의 합

In [151]:
def func_5(x, y) :
    f_sum = 0
    for i in range(x, y+1, 1) :
        f_sum += i
        
    return f_sum

print(func_5(1, 10))
print(func_5(10, 1))

55
0

In [152]:
def func_6(x, y) :
    f_sum = 0
    while x <= y :
        f_sum += x
        x += 1
        
    return f_sum

print(func_6(1, 10))
print(func_6(10, 1))

55
0

In [153]:
def func_7(x, y) :
    f_sum = 0
    if x < y :
        for i in range(x, y+1, 1) :
            f_sum += i
    else : 
        for j in range(y, x+1, 1) :
            f_sum += j
            
    return f_sum

print(func_7(1, 10))
print(func_7(10, 1))

55
55

In [155]:
def func_8(x, y) :
    f_sum = 0
    for i in range(min(x, y), max(x, y) + 1, 1) :
            f_sum += i
            
    return f_sum

print(func_8(1, 10))
print(func_8(10, 1))

55
55

1. 함수 생성 (매개변수 3개 x, y, z)
2. z의 값이 '합' 'x + y' return
3. z의 값이 '차' 'x - y' return
4. z의 값이 둘 다 아니면 '연산식이 잘못되었습니다' return

In [162]:
def func_9(x, y, z) : 
    if z == "합" :
        return "x + y" # return이 실행되면 끝나기 때문에 굳이 elif, else를 안써도 됨.
    if z == "차" :
        return "x - y"
  
    return "연산식이 잘못되었습니다."

print(func_9(1,3,"합"))
print(func_9(1,3,"차"))
print(func_9(1,3,"곱"))

x + y
x - y
연산식이 잘못되었습니다.

In [166]:
def func_10(x, y, z) :
    if z == "합" :
        result = "x + y"
    elif z == "차" :
        result = "x - y"
    else : 
        return "연산식이 잘못되었습니다."

    return result 

print(func_10(1,3,"합"))
print(func_10(1,3,"차"))
print(func_10(1,3,"곱"))

x + y
x - y
연산식이 잘못되었습니다.

In [168]:
def func_11(x) :
    result = x ** 2 # 지역변수의 result
    return result

l = [1, 2, 3, 4]

result = [] # 전역변수의 result

for i in l :
    result.append(func_11(i))

print(result)

[1, 4, 9, 16]

In [169]:
# map 함수
result_2 = list(map(func_11, l)) # list에 있는 원소들을 하나하나 func_11에 넣어주어 새로운 list로 만들어 준다는 뜻
print(result_2)

[1, 4, 9, 16]

In [171]:
# lambda 함수
lamb = lambda x : x ** 2
print(lamb(4))

16

In [173]:
list(map(lamb, l))

[1, 4, 9, 16]